{% extends "app/base.html" %} {% load static %} {% block main-content %}
<head>
  <!-- For this page -->
  <link rel="stylesheet" href="{% static "css/checkout.css" %}" />
  <link rel="stylesheet" href="font-awesome.css" />
  <link rel="stylesheet" href="font-awesome.min.css" />
  <title>Checkout - PDC2T E-Commerce Website</title>
</head>
<!--===============Checkout=============-->
<section class="section">
  <div class="container">
    <div class="checkout_container">
      <div class="checkout">
        <div class="checkout_items">
          <div class="checkout_header">Checkout</div>
          <div class="checkout_item" onclick="toggleForm('contact_form')">
            <div>Contact Information</div>
            <a id="toggle_contact_form"> ▼ </a>
          </div>
          <div class="form_container" id="contact_form">
            <form action="" method="post">
              <div class="form_double_input">
                <input type="text" placeholder="First Name" />
                <input type="text" placeholder="Last Name" />
              </div>
              <input class="form_input" type="email" placeholder="Email" />
            </form>
          </div>
          <div class="checkout_item" onclick="toggleForm('address_form')">
            <div>Shipping Address</div>
            <a id="toggle_address_form"> ▼ </a>
          </div>
          <div class="form_container" id="address_form">
            <form action="" method="post">
              <div class="form_double_input">
                <input type="text" placeholder="Street" />
                <input type="tel" placeholder="Phone Number" />
              </div>
              <input class="form_input" type="text" placeholder="District" />
              <input class="form_input" type="text" placeholder="Province" />
            </form>
          </div>
          <div class="checkout_item" onclick="toggleForm('payment_form')">
            <div>Payment Method</div>
            <a id="toggle_payment_form"> ▼ </a>
          </div>
          <div class="form_container" id="payment_form">
            <form class="payment_input" action="" method="post">
              <div class="payment_input_horizontal">
                <input type="radio" name="payment" value="paypal" />
                <img class="payment_card" src="images/paypal.jpg" />
                <div class="payment_text">Pay with PayPal</div>
              </div>
              <div class="lighter_breakline"></div>
              <div class="payment_input_horizontal">
                <input type="radio" name="payment" value="paypal" />
                <img class="payment_card" src="images/pay_by_cash.png" />
                <div class="payment_text">Pay by cash</div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="order_sumary">
        <div class="oder_sumary_header">Order Summary</div>
        <div class="oder_sumary_items">
          <img
            class="oder_sumary_item_img"
            src="{% static "images/iphone-15-pro-max_3.png" %}"
          />
          <div>
            <div class="oder_sumary_item_main_infor">
              <div>Iphone 15 Pro Max</div>
              <div>$8.99</div>
            </div>
            <div class="oder_sumary_item_sub_infor">Quantity: 1</div>
          </div>
        </div>
        <div class="oder_sumary_items">
          <img
            class="oder_sumary_item_img"
            src="{% static "images/iphone-15-pro-max_3.png" %}"
          />
          <div>
            <div class="oder_sumary_item_main_infor">
              <div>Iphone 15 Pro Max</div>
              <div>$8.99</div>
            </div>
            <div class="oder_sumary_item_sub_infor">Quantity: 1</div>
          </div>
        </div>
        <div class="oder_sumary_items">
          <img
            class="oder_sumary_item_img"
            src="{% static "images/iphone-15-pro-max_3.png" %}"
          />
          <div>
            <div class="oder_sumary_item_main_infor">
              <div>Iphone 15 Pro Max</div>
              <div>$8.99</div>
            </div>
            <div class="oder_sumary_item_sub_infor">Quantity: 1</div>
          </div>
        </div>
        <div class="breakline">
          <!-- Break Beetween Contents -->
        </div>
        <div class="sub_payment_details">
          <div>Subtotal</div>
          <div>$8.99</div>
        </div>
        <div class="sub_payment_details">
          <div>Ship</div>
          <div>$2.0</div>
        </div>
        <div class="sub_payment_details">
          <div>Tax</div>
          <div>$1.0</div>
        </div>
        <div class="breakline">
          <!-- Break Beetween Contents -->
        </div>
        <div class="main_payment_details">
          <div>Total</div>
          <div>$11.99</div>
        </div>
        <div class="placeorder_button" onclick="makeOrder()">Place Order</div>
        <div class="policy_warning">
          <div>By placing an order, you agree to the PDC2T's</div>
          <div>
            <a href="#"> Terms & Conditions </a>
            <div style="margin-left: 0.5rem; margin-right: 0.5rem">and</div>
            <a href="#"> Privacy Policy </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="{% static "js/checkout.js" %}"></script>
{% endblock main-content %}
