{% extends "app/base.html" %}
{% load static %}
{% block main-content %}
<head>
  <!-- For this page -->
  <link rel="stylesheet" href="{% static "css/productDetail.css" %}" />
  <title>Product Detail - PDC2T E-Commerce Website</title>
</head>
<div class="main-wrapper">
  <div class="container">
    <div class="product-div">
      <div class="product-div-left">
        <div class="img-container">
          {% with product.image_set.first as first_image %}
            <img src="{{ first_image.image_url }}" alt="{{ product.proName }}" class="card_img" />
          {% endwith %}
        </div>

        <p class="product-name">{{ product.proName }}</p>
        <p class="product-price">Giá: {{ product.proPrice|stringformat:"f"|floatformat:0|add:" ₫" }}</p>
        <p class="product-description">{{ product.proDescription }}</p>
        <div class="btn-groups">
          <button type="button" class="add-cart-btn" onClick="addToCart({{ product.pro_id }})">
            <i class="fas fa-shopping-cart"></i>add to cart
          </button>
          <button type="button" class="buy-now-btn">
            <i class="fas fa-wallet"></i>buy now
          </button>
        </div>
      </div>

      <div class="product-div-right">
        <div class="product-specs">
          <h3 class="spec-title">Thông số kỹ thuật</h3>
          <table class="spec-table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Specification</th>
              </tr>
            </thead>
            <tbody>
              {% for spec in product_specs %}
                <tr>
                  <td>{{ spec.title }}</td>
                  <td>{{ spec.spec }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static "js/productDetail.js" %}"></script>
<script>
  var cartUrl = "{% url "cart" %}";
</script>
{% endblock main-content %}
